/* Colors */

$pz-font: monospace;
$pz-border: 3px solid white;
$pz-title: 2em;

.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 1127px;
  margin: 0 auto;

  line-height: 1.1;
  font-family: $pz-font;
  font-size: 16px;
  background: black;
}
.root *, .root *:before, .root *:after {
  box-sizing: inherit;
}

.title_box {
  margin: 5px 0;
}
.editor_action {
  margin: 0 4px;
}
.actions {
  text-align: right;
  margin: 5px 0;
}

/****** Layout ********/

.controlPanel {
  display: flex;
  height: 340px;
  align-items: stretch;
}

.editor {
  flex: 4;
  margin-right: 1em;
}

.gameSetup {
  flex: 1;
}
