/* Colors */

$pz-font: monospace;
$pz-border: 3px solid white;
$pz-title: 2em;

.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 1127px;
  margin: 0 auto;

  line-height: 1.1;
  font-family: $pz-font;
  font-size: 16px;
  background: black;
}
.root *, .root *:before, .root *:after {
  box-sizing: inherit;
}

.title_box {
  margin: 5px 0;
}
.editor_action {
  margin: 0 4px;
}
.actions {
  text-align: right;
  margin: 5px 0;
}

button {
  background: black;
  border: 2px solid #aaa;
  border-top: none;
  border-left: none;
  box-shadow: inset 2px 2px 0 #fff;
  color: #fff;
  padding: 0.5em 0.8em;
  font-family: $pz-font;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}


/****** Layout ********/

.controlPanel {
  display: flex;
  align-content: flex-start;
}

.multibot {
  flex: 1;
}

/**** Multiplayer ***/

.multibot_select select {
  display: block;
  padding: 12px;
  background: black;
  border: 1px solid white;
  border-radius: 0;
  margin: 0.3em 0;
  width: 100%;
  font-family: $pz-font;
  font-size: 0.8em;
  color: white;
}
.button_battle {
  font-size: 2em;
  width: 100%;
  margin: 15px 5px 5px 5px;
  background: blue;
  border: 6px solid white;
  border-radius: 4px;
  box-shadow: none;
}
