/* Colors */

$pz-font: monospace;
$pz-border: 3px solid white;
$pz-title: 2em;
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  line-height: 1.1;
  font-family: $pz-font;
  font-size: 16px;
  background: black;
}
h1,h2,h3 {
  font-weight: 500;
  line-height: 1.1;
  padding: 0;
  margin: 0;
}
h2 {
  margin-bottom: 15px;
}

.root {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1127px;
  margin: 2em;

}
.title_box {
  margin: 5px 0;
}
.editor_action {
  margin: 0 4px;
}
.actions {
  text-align: right;
  margin: 5px 0;
}

button {
  background: black;
  border: 2px solid #aaa;
  border-top: none;
  border-left: none;
  box-shadow: inset 2px 2px 0 #fff;
  color: #fff;
  padding: 0.5em 0.8em;
  font-family: $pz-font;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}


/****** Layout ********/

.main {
  display: flex;
  align-content: flex-start;
}
.border {
  border: 4px solid #F9E100;
  border-radius: 4px;
  margin: 5px;
}

.bot,
.multibot_select {
  border: 2px solid white;
  margin: 1px;
  border-radius: 4px;
  padding: 20px;
}
.multibot {
  margin: 5px;
  border-width: 2px;
  flex: 1;
}
/**** Bot Create/Edit ***/

.bot_stuff {
  display: flex;
}

/**** Multiplayer ***/

.multibot_select select {
  display: block;
  padding: 12px;
  background: black;
  border: 1px solid white;
  border-radius: 0;
  margin: 0.3em 0;
  width: 100%;
  font-family: $pz-font;
  font-size: 0.8em;
  color: white;
}
.botlist {
  margin: 5px;
}
.button_battle {
  font-size: 2em;
  width: 100%;
  margin: 15px 5px 5px 5px;
  background: blue;
  border: 6px solid white;
  border-radius: 4px;
  box-shadow: none;
}
/*.botlist button {
  border: none;
  box-shadow: none;
  font-size: 1em;
  text-align: right;
  background: none;
  width: 100%;
  padding: 12px0;
}*/


