.root {
  padding: 0.3em 0.8em;
}

.root select {
  display: block;
  background: black;
  border: 1px solid white;
  border-radius: 0;
  margin: 1em 0;
  width: 100%;
  font-family: $pz-font;
  font-size: 0.8em;
  color: white;
}
