.root {
  position: absolute;
  width: 1em;
  height: 1em;
  background-image: url('../assets/pandazing.png');
}

.empty {
  background-position: -4em -2em;
}

.wall {
  background-position: -4em -0em;
}

.tank-1-north {
  background-position: -5em -0em;
}
.tank-1-east {
  background-position: -6em -0em;
}
.tank-1-south {
  background-position: -7em -0em;
}
.tank-1-west {
  background-position: -8em -0em;
}
.tank-2-north {
  background-position: -5em -1em;
}
.tank-2-east {
  background-position: -6em -1em;
}
.tank-2-south {
  background-position: -7em -1em;
}
.tank-2-west {
  background-position: -8em -1em;
}
.tank-3-north {
  background-position: -5em -2em;
}
.tank-3-east {
  background-position: -6em -2em;
}
.tank-3-south {
  background-position: -7em -2em;
}
.tank-3-west {
  background-position: -8em -2em;
}
.tank-4-north {
  background-position: -5em -3em;
}
.tank-4-east {
  background-position: -6em -3em;
}
.tank-4-south {
  background-position: -7em -3em;
}
.tank-4-west {
  background-position: -8em -3em;
}

.bullet-north {
  background-position: -9em -1em;
}
.bullet-east {
  background-position: -9em -2em;
}
.bullet-south {
  background-position: -9em -3em;
}
.bullet-west {
  background-position: -9em -0em;
}
.explosion {
  background-position: -4em -1em;
}
