.root {
  position: absolute;
  width: 1em;
  height: 1em;
  background-image: url('../assets/pandas.png');
}

.empty {
  background-position: -17em -2em;
}

.wall {
  background-position: -16em -1em;
}

.tank-1-north {
  background-position: -21em -1em;
}
.tank-1-east {
  background-position: -19em -1em;
}
.tank-1-south {
  background-position: -20em -1em;
}
.tank-1-west {
  background-position: -22em -1em;
}

.tank-2-north {
  background-position: -21em -2em;
}
.tank-2-east {
  background-position: -19em -2em;
}
.tank-2-south {
  background-position: -20em -2em;
}
.tank-2-west {
  background-position: -22em -2em;
}

.tank-3-north {
  background-position: -21em -3em;
}
.tank-3-east {
  background-position: -19em -3em;
}
.tank-3-south {
  background-position: -20em -3em;
}
.tank-3-west {
  background-position: -22em -3em;
}

.tank-4-north {
  background-position: -21em -4em;
}
.tank-4-east {
  background-position: -19em -4em;
}
.tank-4-south {
  background-position: -20em -4em;
}
.tank-4-west {
  background-position: -22em -4em;
}

.bullet-north {
  background-position: -18em -1em;
}
.bullet-east {
  background-position: -18em -4em;
}
.bullet-south {
  background-position: -18em -3em;
}
.bullet-west {
  background-position: -18em -2em;
}
.explosion {
  background-position: -17em -1em;
}
